:root{
    --fontePadrao: 'Inter', sans-serif;
    /*Weight (peso da Fonte)*/
    --forte: 800;
    --meioForte: 700;
    --mediano: 600;
    --normalForte: 500;
    --normal: 400;

    /*Padrão das cores*/
    --cinzaDNC: #303030;
    --azulDNC: #0C70F2;
    --textoBranco: #fff;

}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--fontePadrao);
    color: var(--textoBranco);
}
h1{
    font-size: 80px;
    font-weight: var(--forte);
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 25px;    
    font-weight: var(--mediano);
}

.margensInternasPadrao{
    width: 90%;
    padding: 30px 5%;
}

/*Menu principal de navegação*/
#secaoNavegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinzaDNC);
    line-height: 30px;
}

#navegacaoPrincipal{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
}

#loginButton{
    background: var(--azulDNC);
    border: none;
    width: 80px;
    height: 39px;
    font-weight: var(--mediano);

    font-size: 20px;
    padding: 7px 14px;
    box-shadow: 3px 2px 4px 0px #0C70F240;
}

/*Header*/
#conteudo{
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 80.91%, rgba(12, 112, 242, 0) 100%),
    linear-gradient(0deg, #303030, #303030),
    linear-gradient(0deg, #BABABA, #BABABA);

    padding:100px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitulo{
    font-size: 40px;
    font-weight: var(--normal);
    text-align: center;
    align-items: center;
    width: 75%;
    margin-top: 30px;
}

.destaque{
    background-color: var(--cinzaDNC);
    font-weight: var(--normalForte);
}
.destaqueEspecial{
    background-color: var(--cinzaDNC);
    font-weight: var(--meioForte);
}
